In [8]:
%pip install yfinance

Collecting yfinance
  Using cached yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: numpy>=1.15 in /Users/coenemmenegger/opt/anaconda3/envs/dev/lib/python3.7/site-packages (from yfinance) (1.20.3)
Requirement already satisfied: lxml>=4.5.1 in /Users/coenemmenegger/opt/anaconda3/envs/dev/lib/python3.7/site-packages (from yfinance) (4.6.4)
Requirement already satisfied: requests>=2.26 in /Users/coenemmenegger/opt/anaconda3/envs/dev/lib/python3.7/site-packages (from yfinance) (2.27.1)
Requirement already satisfied: pandas>=0.24.0 in /Users/coenemmenegger/opt/anaconda3/envs/dev/lib/python3.7/site-packages (from yfinance) (1.3.4)
Collecting multitasking>=0.0.7
  Using cached multitasking-0.0.10-py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/coenemmenegger/opt/anaconda3/envs/dev/lib/python3.7/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/coenemmenegger/opt/anaconda3/envs/dev/lib/python3.7/site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/coenemmenegger/opt/anaconda3/envs/dev/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/coenemmenegger/opt/anaconda3/envs/dev/lib/python3.7/site-packages (from requests>=2.26->yfinance) (1.26.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/coenemmenegger/opt/anaconda3/envs/dev/lib/python3.7/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/coenemmenegger/opt/anaconda3/envs/dev/lib/python3.7/site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /Users/coenemmenegger/opt/anaconda3/envs/dev/lib/python3.7/site-packages (from requests>=2.26->yfinance) (3.3)
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.10 yfinance-0.1.70
Note: you may need to restart the kernel to use updated packages.

In [9]:
import yfinance as yf

# Set tickers for US tech stocks

FB = yf.Ticker("FB")
GOOGL = yf.Ticker("GOOGL")
TSLA = yf.Ticker("TSLA")
MSFT = yf.Ticker("MSFT")

In [10]:
import plotly.express as px
# Retrieve stock data
stock_portfolio = px.data.stocks(indexed=True)-1
stock_portfolio.head()

company         GOOG      AAPL      AMZN        FB      NFLX      MSFT
date
2018-01-01  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2018-01-08  0.018172  0.011943  0.061881 -0.040032  0.053526  0.015988
2018-01-15  0.032008  0.019771  0.053240 -0.029757  0.049860  0.020524
2018-01-22  0.066783 -0.019943  0.140676  0.016858  0.307681  0.066561
2018-01-29  0.008773 -0.082857  0.163374  0.018357  0.273537  0.040708

In [11]:
# Save Dataframe to csv
stock_portfolio.to_csv('stock_portfolio.csv')